
html, body

{
    height: 100%;
    margin: 0;
}

.pantalla-completa {
    min-height: 100vh; /* Ocupa el 100% de la altura del viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    font-size: 0.75rem;
    color: #666;
}

img#logo {
    width: 300px;
    height: auto;
    margin: 10px auto;
    display: block;
}

p {
    margin-bottom: 1rem;
}
seccion-landingPage {
    margin: 1.5rem 0 2rem 0;
}
.cabecera {
    font-weight: bold;
}
.productos ul {
    list-style: none;
    padding-left: 0;
}
.productos i {
    color: gray;
    font-size: 30px;
}
.img-16by9 {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 ratio (9/16 = 0.5625 * 100) */
    overflow: hidden;
}

.img-16by9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-ajustada {
    height: 250px; /* Podés ajustar según necesidad */
    object-fit: cover;
    width: 100%;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
