<div style="margin-top: -10px">
    <div class="row justify-content-center text-center">
        <div class="col col-5 bg-white mx-2 productos" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-basket-fill"></i>

            <h3>Producto</h3>
            <p>Todo lo que tu mascota necesita para una vida feliz y saludable</p>
            <p class="text-primary cabecera"> Rubro: </p>
            <p>Alimentos y Accesorios para Mascotas</p>
            <p class="text-primary cabecera"> Producto: </p>
            <ul>
                <li>Alimento balanceado</li>
                <li>Juguetes interactivos</li>
                <li>Camas y colchonetas</li>
                <li>Correas y arneses</li>
            </ul>
        </div>

        <div class="col col-5 bg-white mx-2 productos" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-briefcase-fill"></i>
            <h3>Servicios</h3>
            <p>Atención personalizada y cuidado profesional para tus mascotas.</p>
            <p class="text-primary cabecera"> Rubro: </p>
            <p>Servicios Veterinarios y de Estética Animal personalizada</p>
            <p class="text-primary cabecera"> Servicios: </p>
            <ul>
                <li>Baño y peluquería</li>
                <li>Desparasitación</li>
                <li>Atención veterinaria</li>
                <li>Vacunación</li>
            </ul>
        </div>
    </div>
    </div>
