
@{
    ViewData["Title"] = "Respuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Gracias por contactarse</h1>
<p>Hemos recibido su mensaje y nos pondremos en contacto a la brevedad. Nuestro equipo está disponible para responder cualquier consulta de lunes a sábado, de 9 a 21 hs.</p>
<div>
    <a asp-action="Index" asp-controller="ProyectoMascoTienda" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
