@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="row g-3">
        <div class="col-md-4 col-sm-12">
            <label class="form-label">Producto</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 col-sm-12">
            <label class="form-label">Detalle</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 col-sm-12">
            <label class="form-label">Paises</label>
            <select class="form-select">
                <option selected>Seleccionar Pais</option>
                <option value="1">Argentina</option>
                <option value="2">Brasil</option>
                <option value="3">Uruguay</option>
                <option value="4">Chile</option>
            </select>
        </div>
         <div class="col align-self-end">
                <button class="btn btn-primary">Enviar</button>
         </div>

        </div>
  

</form>


