@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Mascotienda es una aplicación diseñada para ofrecer una experiencia simple e intuitiva a los amantes de las mascotas. Permite a los usuarios explorar fácilmente una variedad de productos para sus animales y calcular de forma rápida el costo total de su compra, facilitando así una gestión eficiente y práctica de sus necesidades.</p>
</div>

<br/>
<div class="row">
    <div class="col">
        <img class="img-producto" src="~/imag/ProplanPuppy3k.jpg" />
    </div>
    <div class="col">
        <img class="img-producto" src="~/imag/ProplanAdulto3k.jpg" />
    </div>
    <div class="col">
        <img class="img-producto" src="~/imag/ProplanReducidoCalorias3k.jpg" />
    </div>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/T-V7UunW0iY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web share" allowfullscreen>
</iframe>

<div class="ratio ratio-4x3">
    <div>4x3</div>
</div>


<h1>Bienvenidos</h1>



