@model GitTPPWA2025.ModelsEF.ProductoVM


@{
    ViewData["Title"] = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Producto</h1>

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Actualizar" asp-controller="Producto" method="post" enctype="multipart/form-data">
            @* ID oculto *@
            <input type="hidden" asp-for="IdProducto" />

            @* Descripción *@
            <div class="mb-2">
                <label class="form-label" asp-for="Descripcion"></label>
                <input type="text" class="form-control form-control-sm" asp-for="Descripcion" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            @* Precio *@
            <div class="mb-2">
                <label class="form-label" asp-for="Precio"></label>
                <input type="number" class="form-control form-control-sm" asp-for="Precio" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            @* Categoría *@
            <div class="mb-2">
                <label class="form-label" asp-for="IdCategoria">Categoría</label>
                <select asp-for="IdCategoria" class="form-control form-control-sm" asp-items="Model.ListaCategorias">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>

            @* Foto actual *@
            <div class="mb-2">
                <label class="form-label">Foto actual</label><br />
                @if (!string.IsNullOrEmpty(Model.ImagenActual))
                {
                    <img src="~/imag_productos/@Model.ImagenActual" class="rounded" style="width:100px; height:100px; object-fit:cover;" />
                }
                else
                {
                    <span>Sin imagen actual</span>
                }
            </div>

            @* Nueva foto *@
            <div class="mb-2">
                <label class="form-label" asp-for="FotoPath">Nueva Foto</label>
                <input type="file" class="form-control" asp-for="FotoPath" />
                <span asp-validation-for="FotoPath" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <button class="btn btn-primary" type="submit">Actualizar</button>
                <a class="btn btn-info" asp-action="Index" asp-controller="Producto">Volver</a>
            </div>

            @*<button type="submit" class="btn btn-primary">Guardar Cambios</button>*@
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
