@model List<GitTPPWA2025.DAL.Producto>

@{
    ViewData["Title"] = "ProductoFoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Productos con sus Fotos</h2>

<a class="btn btn-success mb-3" asp-action="Crear" asp-controller="Producto">
    <i class="bi bi-plus-circle"></i> Crear nuevo producto
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Descripcion</td>
                <td>$@producto.Precio</td>
                <td>@producto.IdCategoriaNavigation?.CategoriaAnimal</td>
                <td>
                    @if (producto.Fotos != null && producto.Fotos.Any())
                    {
                        foreach (var foto in producto.Fotos)
                        {
                            <img src="~/imag_productos/@foto.Foto" class="rounded" style="width:100px; height:100px;" />

                        }
                    }
                    else
                    {
                        <span>Sin fotos</span>
                    }
                </td>
                <td>
                    <a asp-controller="Producto" asp-action="Actualizar" asp-route-id="@producto.IdProducto" class="btn btn-warning btn-sm">Editar</a>

                    <form asp-controller="Producto" asp-action="Eliminar" asp-route-id="@producto.IdProducto" method="post" style="display:inline;" onsubmit="return confirm('¿Estás seguro de eliminar este producto?');">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>